**Exercice 1 :** Rechercher et supprimer de valeurs en double

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
données = pd . DataFrame ({ "a" :[ 1 , 5 ] * 3 , "b" :[ 1 , 1 , 2 , 3 , 2 , 3 ]}) 
données

   a  b
0  1  1
1  5  1
2  1  2
3  5  3
4  1  2
5  5  3

Ecrire un programme Pandas qui sert à afficher les duplicates et de les supprimer par la suite

In [ ]:
print(données[données.duplicated()])
données.drop_duplicates()

   a  b
4  1  2
5  5  3

   a  b
0  1  1
1  5  1
2  1  2
3  5  3

**Exercice 2 :** Mapping

In [ ]:
import pandas as pd
data={'Name':['A','B','C','D'],'Age':[42,54,20,63]}
df=pd.DataFrame(data,index=['value1','value2','value3','value4'])
df

       Name  Age
value1    A   42
value2    B   54
value3    C   20
value4    D   63

In [ ]:
score={'A':24,'B':30,'C':36,'D':42}
# Conversion du premier caractère du nom en majuscule pour que les noms soient identiques. 
n=df["Name"].str.capitalize()
n

value1    A
value2    B
value3    C
value4    D
Name: Name, dtype: object

Ecrire un programme Pandas qui sert à ajouter la variable de score à l'ensemble de données df à l'aide de la méthode map().

In [ ]:
df['Score'] = n.map(score)
df

       Name  Age  Score
value1    A   42     24
value2    B   54     30
value3    C   20     36
value4    D   63     42

**Exercice 3 :** Remplacement

In [ ]:
s = pd.Series([ 14 , 55 , 87 , 966 , 78 , 44 ]) 
s

0     14
1     55
2     87
3    966
4     78
5     44
dtype: int64

Ecrire un programme Pandas qui permet de remplacer la valeur de 87 par nan

In [ ]:
s.replace(87, np.NaN)

0     14.0
1     55.0
2      NaN
3    966.0
4     78.0
5     44.0
dtype: float64

Ecrire un programme Pandas qui permet de remplacer les valeurs 78 et 14 par nan et 566 respectivement

In [ ]:
s.replace({78:np.NaN, 14:566})

0    566.0
1     55.0
2     87.0
3    966.0
4      NaN
5     44.0
dtype: float64

**Exercice 4 :** Renommer les colonnes

In [ ]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.arange(12).reshape(3,4),index=[0,1,2],columns=["a","b","c","d"])
df

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
#Create a variable and pass it into the dataset
s=pd.Series(["one","two","three"])
df.index=df.index.map(s)
df

       a  b   c   d
one    0  1   2   3
two    4  5   6   7
three  8  9  10  11

Mettez en majuscule les noms de ligne et de colonne avec la méthode de renommage

![image](https://user-images.githubusercontent.com/123748165/226334330-bbd36d49-8a54-4a71-a734-9db99c0e79ae.png)

In [ ]:
df.index = s.str.capitalize()
df.columns = df.columns.str.capitalize()
df

       A  B   C   D
One    0  1   2   3
Two    4  5   6   7
Three  8  9  10  11

**Exercice 5 :** Trouver des valeurs spécifique dans un ensemble de données

In [ ]:
data = pd . DataFrame ( np . random . randn ( 1000 , 4 )) 
data

            0         1         2         3
0   -0.525846 -0.757802  0.419137  0.616355
1    0.167505  0.263415  0.753317  0.034154
2    0.162430 -0.566118  0.471192  1.108960
3   -0.847633  0.895430 -0.797455 -0.030216
4    0.507936 -0.490998  2.631901  1.138942
..        ...       ...       ...       ...
995  0.080434 -0.516681  1.218055 -1.462103
996 -0.229894  2.182296 -0.458911  2.390171
997 -0.169852  1.537758  0.990728 -1.141641
998 -0.844379 -1.842220 -1.226485  1.359511
999 -0.026520 -1.281442 -0.551035 -1.968356

[1000 rows x 4 columns]

In [ ]:
data.head()

          0         1         2         3
0 -0.525846 -0.757802  0.419137  0.616355
1  0.167505  0.263415  0.753317  0.034154
2  0.162430 -0.566118  0.471192  1.108960
3 -0.847633  0.895430 -0.797455 -0.030216
4  0.507936 -0.490998  2.631901  1.138942

recherchons les valeurs dont la valeur absolue dépasse 3 dans une colonne avec l'index 1.

In [ ]:
data[1][np.abs(data[1])>3]

62     3.698765
351   -3.279404
Name: 1, dtype: float64

**Exercice 6 :** One hot Encoding

In [ ]:
import pandas as pd

ids = [11, 22, 33, 44, 55, 66, 77]
countries = ['Spain', 'France', 'Spain', 'Germany', 'France']

df = pd.DataFrame(list(zip(ids, countries)),
                  columns=['Ids', 'Countries'])

In [ ]:
df.head()

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

Convertissez les valeurs de la colonne Countries en vecteurs one hot encoding :

![image](https://user-images.githubusercontent.com/123748165/226334556-ce5ab9be-b2e8-4ca9-90b8-55b35fbc719f.png)

In [ ]:
pd.get_dummies(df)

   Ids  Countries_France  Countries_Germany  Countries_Spain
0   11                 0                  0                1
1   22                 1                  0                0
2   33                 0                  0                1
3   44                 0                  1                0
4   55                 1                  0                0